<div class="user-details">
  <h1> Get Involved </h1>
</div>
<div class="user-sourcecodes">
  <div class="images-right">
    <img alt="2009scape-code" style="border-radius: 1%;"
      src="{{ "/assets/img/jamix77.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> We're all about the community </h3>
    <ul>
      <li> Run events </li>
      <li> Share the game with your friends </li>
      <li> Reach out to developers </li>
    </ul>
    <p>2009scape is completely free, and it works because of our awesome community. Come help out on Discord, or lone
      wolf it on your own! Every bit counts, and we are where we are today because of it ❤</p>
    <a class="project-link" href="https://discord.gg/43YPGND">Join the Discord</a>
  </div>
</div>