<div id="particles-js">
  <div class="header">
    <h1>
      <span class="site-title">{{site.username}}</span>
      <span class="site-description">
        <a href="https://github.com/2009scape/2009Scape/releases/latest/download/2009Scape.jar">
          <button>
            {{site.user_title}}
          </button>
        </a>
      </span>
    </h1>
    <div class="header-icons">
      <a aria-label="Join Discord" href="https://discord.gg/43YPGND"><i class="icon fa fa-discord-alt" aria-hidden="true"></i></a>
      <a aria-label="2009scape Source code" href="https://github.com/2009scape/"><i class="icon fa fa-github" aria-hidden="true"></i></a>
    </div>
    <div class="header-links">
      <a class="link" href="#media" data-scroll>Media</a>
      <a class="link" href="#sourcecodes" data-scroll>Code</a>
      <a class="link" href="#getinvolved" data-scroll>Get Involved</a>
    </div>
  </div>
  <a class="down" href="#media" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>