<div class="user-details">
  <h1> Media </h1>
  <p> Images taken by our players <span class="love">❤</span> </p>
</div>
<div>
  <p class="aligncenter">
    <img alt="sektor" style="display:block; margin-left: auto; margin-right: auto;" src="{{ "/assets/img/sektor.png" | prepend: site.baseurl }}" />
  </p>
  <div class="user">
    <div class="tech">
      <img alt="mountains" style="border-radius: 2%" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="tech">
      <img alt="mountains" style="border-radius: 2%" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
    </div>
  </div>
</div>