<div class="user-details">
  <h1> Media </h1>
  <p> Images taken by our players <span class="love">❤</span> </p>
</div>
<div>
  <p class="aligncenter">
    <img alt="sektor" style="display:block; margin-left: auto; margin-right: auto;"
      src="{{ "/assets/img/sektor.png" | prepend: site.baseurl }}" />
  </p>
  <p class="aligncenter">
    <img alt="loginscreen" style="display:block; margin-left: auto; margin-right: auto; border-radius: 2%; width: 600px"
      src="{{ "/assets/img/loginscreen.png" | prepend: site.baseurl }}" />
  </p>
  <p class="user" style="margin-top: 1.5rem;">
    <img alt="array-of-images"
      style="display:block; margin-left: auto; margin-right: auto; margin-top: auto; margin-bottom: auto; border-radius: 5%; width: 130px; height: 170px;"
      src="{{ "/assets/img/arrayofimages1.png" | prepend: site.baseurl }}" />
      <img alt="array-of-images"
      style="display:block; margin-left: auto; margin-right: auto; margin-top: auto; margin-bottom: auto; border-radius: 5%; width: 130px; height: 170px;"
      src="{{ "/assets/img/arrayofimages2.png" | prepend: site.baseurl }}" />
      <img alt="array-of-images"
      style="display:block; margin-left: auto; margin-right: auto; margin-top: auto; margin-bottom: auto; border-radius: 5%; width: 130px; height: 170px;"
      src="{{ "/assets/img/arrayofimages3.png" | prepend: site.baseurl }}" />
  </p>
</div>