<div class="user-details">
  <h1> Our Open Source Repositories </h1>
</div>
<div class="user-sourcecodes">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> 2009scape </h3>
    <ul>
      <li> Server Source code </li>
      <li> Client Source code </li>
      <li> Management (Fileserver/Worldlist) Source code </li>
    </ul>
    <p>2009scape is our main repo that contains everything you need to run the game. Everything is coded in Java, with SQL used for some of the database entries. There's a setup guide to get you started after you clone the repository as well, and a Discord full of people ready to help you out!</p>
    <a class="project-link" href="https://github.com/2009scape/2009Scape">Check it out</a>
  </div>
</div>
<div class="user-sourcecodes">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Project Title </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
