<div class="user-details">
  <h1> Our Open Source Repositories </h1>
</div>
<div class="user-sourcecodes">
  <div class="images-right">
    <img alt="2009scape-code" style="border-radius: 2%" src="{{ "/assets/img/2009scape-code.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> 2009scape </h3>
    <ul>
      <li> Server Source code </li>
      <li> Client Source code </li>
      <li> Management (Fileserver/Worldlist) Source code </li>
    </ul>
    <p>2009scape is our main repo that contains everything you need to run the game. Everything is coded in Java, with SQL used for some of the database entries. There's a setup guide to get you started after you clone the repository as well, and a Discord full of people ready to help you out!</p>
    <a class="project-link" href="https://github.com/2009scape/2009Scape">Check it out</a>
  </div>
</div>
<div class="user-sourcecodes">
  <div class="images-left">
    <img alt="Plugins-code" style="border-radius: 2%" src="{{ "/assets/img/Plugins-code.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Plugins </h3>
    <ul>
      <li> Trivia</li>
      <li> Mystery Box</li>
      <li> Quests</li>
    </ul>
    <p>Want to make a custom, mess-around server? Want to make cool customs but not break the main game? The plugin system is for you!</p>
    <p>Most of the plugins are disabled for the live server of course, but custom servers can enable them all by simply copying the .zip files into the server folder!</p>
    <a class="project-link" href="https://github.com/2009scape/Plugins">Check it out</a>
  </div>
</div>
<div class="user-sourcecodes">
  <div class="images-right">
    <img alt="2009scape-singleplayer" style="border-radius: 2%" src="{{ "/assets/img/singleplayer.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Singleplayer Edition </h3>
    <ul>
      <li> Linux + Windows Support </li>
      <li> Automatic Database setup </li>
      <li> No coding experience necessary </li>
    </ul>
    <p>Our Singleplayer editions are offline downloads for people who just want to play 2009 Runescape by themselves.</p><p>Setting them up is easy, and you can even join our Discord for support!</p>
    <a class="project-link" href="https://github.com/2009scape/Singleplayer-Edition-Windows">Check it out</a>
  </div>
</div>

